:root{
    --orange:rgb(255, 125, 27);
    --gray:rgb(158, 158, 159);
}
*{
    /* border: 1px solid green; */
}
body{
    font-family: sans-serif;
    position: relative;
    padding: 0;
}
.overlay{
    display: none;
    position: absolute;
    width: 100vw;
    /* height: 100vh; */
    background-color: #000;
    opacity: .7;
    z-index: 2;
}
/* start header */
.header{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto 50px;
}
.navigation{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 60px;
    border-bottom: 2px solid var(--gray);
    padding: 10px 1rem;
    position: relative;

}
.navigation .burger-menu{

    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 300px;
    top: 100%;
    color: white;
    z-index: 5;
    border-radius: 15px;
    overflow: hidden;
    border:2px solid white;

}
.navigation .burger-menu a{
    background-color: var(--orange);
    padding: 10px 30px;
    width: 100%;
    transition: .25s;
    border-bottom:2px solid white;

}
.navigation .burger-menu a:last-of-type{
    border-bottom:none;


}

.navigation .burger-menu a:hover{
    background-color: white;
    color: var(--orange);
}

.navigation .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap:1rem;
}
.navigation .menu .burger-icon{
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}
.navigation .menu .burger-icon svg{
    vertical-align: middle;
    
}

.navigation .menu li{
    /* background-color: aqua; */
    padding: 1.1rem 0;
    position: relative;
    overflow: hidden;
}
.navigation .menu li a{
    color: var(--gray);
}
.navigation .menu li::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    bottom: 0px;
    left: 0;

}
.navigation .menu li:hover::after{
    background-color: var(--orange);


}

.navigation .menu li a:hover{
    color: var(--orange);
}
.navigation .profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation .profile > img{
    border-radius: 50%;
    border: 2px solid transparent;
    margin-left: 2rem;
    width:40px;
    height: auto;
    cursor: pointer;
}

.navigation .profile > img:hover{
    border: 2px solid var(--orange);
}
.navigation .profile svg{
    fill:#69707D;
    cursor: pointer;
}
.navigation .profile svg:hover{
    fill:#000;
    

}
.navigation .cart{
    position: relative;
}
.navigation .cart span{
    display: none;
    position: absolute;
    right: -9px;
    top: -9px;
    width: 1rem;
    height: 1rem;
    /* padding: 2px; */
    text-align: center;
    padding-bottom: 2px;
    border-radius: 50%;
    background-color: red;
    color: black;

}
.navigation .cartList{
    display: none;
    
    position: absolute;
    gap: 1.2rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    background-color: white;
    border: 2px solid var(--orange);
    border-radius: 15px;
    min-width: 300px;
    min-height: 220px;
    top: 100%;
    right: 0;
    color: black;
    z-index: 5;
    padding: 15px 20px;
}
.navigation .cartList h3{
    font-weight: 700;
    border-bottom: 2px solid var(--gray);
    padding: 10px;
    color: #000;
    width: 100%;
}
.navigation .cartList .items{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap:1rem;

}
.navigation .cartList .item{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap:1rem;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--gray);

}
.navigation .cartList .item :first-child{
    width:100px;
    border-radius: 10px;
    height: auto;
}
.navigation .cartList .item :last-child{
    width:30px;
    height: auto;
    cursor: pointer;

}
.navigation .cartList .item .desc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: flex-start; */
    /* align-content: ; */
    height: 30px;
    gap:20px;
}
.navigation .cartList .item .desc .name{
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
}
.navigation .cartList .item .desc .price{
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--gray);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navigation .cartList .item .delete{
    color:#C3CAD9;
    font-weight: bold;
    text-align: center;
    padding: 1px;
    transition:1s;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navigation .cartList .item .delete :hover{
    color:#ff0000;
}


.navigation .cartList .item .desc .price .Itemtotal{
    color: black;
    /* justify-self: flex-end; */
}

.navigation .cartList >button{
    flex: 1;
    width: 100%;
    background-color: var(--orange);
    color: white;
    border: none;
    padding: .8rem 1rem;
    display: flex;
    align-items: center;
    align-content: center;
    gap:1rem;
    justify-content: center;
    border-radius: 10px;
    flex: 2;
    font-size: 15px;
    min-width: 150px;
    max-height: 40px;
    
}
.navigation .cartList >button:hover{
    background-color: rgb(255, 166, 0);
}

/* end header */

/* start content */
.product{
    display: flex;
    width: 95%;
    max-width: 1000px;
    gap: 5%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    

}
.product .slider,
.product .slider-fullscreen{
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    gap: 1.5rem;
    /* min-width: 380px; */
    /* max-width: 500px; */
    
}
#next,
#prev,
#fullscreenprev,
#fullscreennext,
#fullscreenclose{
    display: none;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    right: 0;
    /* border: 1px solid black; */
    width: 26px;
    height: 36px;
    padding: 0;
    cursor: pointer;
    transition: .2s;
}

#prev,
#fullscreenprev{
    left: 0;

}
#next:hover,
#prev:hover,
#fullscreenprev:hover,
#fullscreennext:hover,
#fullscreenclose:hover{
    scale: 1.1;
}
.product .slider .full-image img,
.product .slider-fullscreen .full-image img{
    width :100%; 
    height: auto;
    border-radius: 5%;
    cursor: pointer;
    flex: 1;
}
.product .slider .full-image{
    width: 100%;
}
.product .thumbnails{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    flex: 1;
    width :100%; 
    gap: 1.5rem;
    justify-content: space-between;
}

.product .thumbnails img{
    border-radius: 10px;
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: opacity .3s;
}

.product .thumbnails img:hover{
    filter: opacity(.7);
    border: 2px solid var(--orange);
}

.product .desc{
    flex: 1;
}
.product .desc h5{
    color: var(--orange);
    font-size: 1.2rem;
}
.product .desc > p{
    color: var(--gray);
    margin-bottom: 30px;
    font-size: .9rem;
}

.product .desc .price .new-price {
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
}
.product .desc .price .new-price span{
    background-color: rgba(255, 166, 0, 0.354);
    padding:0 4px;
    color: var(--orange);
    border-radius: 5px;
    font-size: .9rem;
    display: flex;
    align-items: center;
    margin-left: 10px;
    
}
.product .desc .price .old-price{
    color: var(--gray);
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.product .desc .buttons{
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    /* flex-direction: row; */
    /* border: 1px solid black; */
    
}

.product .desc .buttons > button ,
.product .desc .buttons .count{
    background-color: var(--orange);
    color: white;
    border: none;
    padding: .8rem 1rem;
    display: flex;
    align-items: center;
    align-content: center;
    gap:1rem;
    justify-content: center;
    border-radius: 10px;
    flex: 2;
    font-size: 15px;
    min-width: 150px;
    /* max-width: 200px; */

}
button{
    cursor: pointer;
    
}
.product .desc button:hover{
    background-color: rgb(255, 166, 0);
}
.product .desc .buttons .count{
    flex: 1;
    background-color: rgb(222, 222, 222);
    justify-content: space-between;
    padding: .8rem 1rem;
    /* max-width: 200px; */
    /* min-width: 100px; */
    fill: var(--orange) !important;
    font-size: 1.2rem;
    font-weight: 600;
}
.product .desc .buttons .count svg{
    cursor: pointer;
}
.product .desc .buttons .count svg:hover{
    fill: white !important;

}
.product .desc .buttons>button:hover svg{
    fill: white !important;   
}
/* end content */




@media (max-width:767px){

.navigation .menu li{
    display: none;
}
.product{
    flex-direction: column;
    width: 90%;
}
.product .desc{
    margin: 30px 0;
    max-width: none;
    min-width: none;
    width: 100%;
}
.product .desc .price{
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 15px;
}
.product .desc .buttons{
    flex-direction: column;
}
.product .slider{
    flex: 1;
    width: 100%;
    min-width: none;
    max-width: none;
    position: relative;
}
.product .slider .full-image img{
    pointer-events: none;
    cursor:default;


}
.product .slider .thumbnails{
    display: none;
}

#next,
#prev{
    display: block;
}

}

@media (min-width:768px){
    .navigation ul button{
        display: none;
    }
}
.product .slider-fullscreen{
    display: none;
    width: 450px;
}
.product .fullscreen{
    display: flex;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
}
#fullscreenprev,
#fullscreennext,
#fullscreenclose{
    display: block;
    top:40%;
    right: -10%;
    
    
}
#fullscreenprev{
    left: -10%;
}
#fullscreenclose{
    top:-5%;
    right: -5%;


}
.product .slider-fullscreen .thumbnails img:hover{
    filter: opacity(1);
    border: 2px solid var(--orange);
}
.attribution{
    margin-top: 50px;
}