:root{
    font-family: sans-serif;
    --primary:rgb(92, 38, 125);
}

*{
    box-sizing: border-box;
    /* height: 100vh; */
    margin: 0px;

}

body{
    padding: 0px;
    height: 100vh;
    /* width:100vw; */
}
.container{
    margin: 0px;
    padding: 30px;
    position: relative;
    height: 100%;
    /* width: 100vw; */
    /* padding: 30px 100px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    
}
.container::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40%;
    height: 100%;
    /* background: linear-gradient(135deg, rgb(25, 2, 39), rgb(68, 7, 9),rgb(4, 1, 50),rgb(67, 24, 92)); */
    background-image: url("images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.credit-cards{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 550px;
    gap:30px;
}
.front,.back{
    color: white;
    margin-left: 10px;
    max-width: 447px;
    width: 40vw;
    aspect-ratio: 16/8.78;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.front{
    padding: 15px 40px;
    font-size: 22px;
    letter-spacing: 2px;
    display: flex;
    flex-wrap: wrap;
    gap:50px;
    background-image: url("images/bg-card-front.png");
}
.circles{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-content: center;
    align-items: center;
    width: 100%;
}
.white-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(254, 254, 254);
}
.circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(254, 254, 254, 0);
    border:2px solid white;
}

.front .bottom{
    width: 100%;

    display: flex;
    gap: 15px;
    flex-direction: column;
}
.front .bottom .front-data{
    display: flex;
    justify-content: space-between;
}
.back{
    margin-left: auto;
    background-image: url("images/bg-card-back.png");
    position: relative;
}
.back .cvc{
    position: absolute;
    right: 15%;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    top: 50%;
    transform: translatey(-50%);
}

.form{
    margin: 15px;
    /* max-width: 600px; */
    display: flex;
    flex-direction: column;
}
label{
    font-size: 15px;
    /* font-weight: bold; */
}
input{
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 15px;
    font-weight: 550;
    word-spacing: 4px;
    letter-spacing: 1px;
    border-radius: 7px;
    border: 1px solid lightgray;
    color: var(--primary);
}
input:focus{
    outline:2px solid rgb(137, 18, 167);

}
.dateAndCvc {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: flex-end;
    align-content: flex-end;

    
}
.dates{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dates div {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}
.year,.month{
    text-align: center;
    max-width: 10vw;
}
#cvc{
    
    max-width: 20vw;
    margin-top: 15px;
    text-align: center;
}
button{
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    background-color: rgb(7, 7, 7);
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px 5px rgb(63, 58, 65);
}
button:hover{
    opacity: .9;
}

@media (max-width:800px) {
    .container{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        gap: 40px;
    }
    .container::before{
        width: 100vw;
        height: 30vh;
    }
    .credit-cards{
        /* margin-top: 30px; */

        position: relative;
        height: 45vh;

    }
    .front,.back{
        font-size: 15px;
        width: 300px;
        left:50%;
        position: absolute;
    }
    .front{
        gap:20px;
        top:20vh;
        transform: translateX(-55%);
        box-shadow: 0px 30px 50px rgb(169, 169, 171);


    }
    .back{
        transform: translateX(-45%);
        top:5vh;
        z-index: -1;
    
    }
}
@media (max-width:900px) {
    .front{
        font-size: 18px;
        
        
    }
    
}